<ion-content [fullscreen]="true"> 
 
  <ion-menu contentId="main-content"> 
    <ion-header> 
      <ion-toolbar> 
        <ion-title class="textmenucontent"color="medium">PILKETUANG</ion-title> 
      </ion-toolbar> 
      
    </ion-header> 
    <ion-content class="ion-padding"> 
      <br>
      <ion-button expand="block" href="http://localhost:8100/hasilpoling" fill="outline">Hasil Poling</ion-button>  
      <br>
      <ion-button expand="block" href="http://localhost:8100/hasilpoling" fill="outline">EDIT KANDIDAT</ion-button>  
      <br>
      <ion-button expand="block" href="http://localhost:8100/home" fill="outline">Log Out</ion-button> 
    </ion-content>  
  </ion-menu> 
  <ion-content class="ion-page" id="main-content"> 
    <ion-header> 
      <ion-toolbar>
        <ion-buttons slot="start">    
          <ion-menu-button></ion-menu-button> 
        </ion-buttons> 
        <ion-title class="textmenu" color="medium">DATA KANDIDAT</ion-title> 
      </ion-toolbar> 
    </ion-header> 
    
    <div>
      <ion-card class="card1" color="medium" id="card1">
      <ion-card-header>
        <ion-img src="\assets\icon\RIFKYHDYT.jpg" alt="RIFKYIMG"></ion-img>
        <ion-card-subtitle class="RTH" >KANDIDAT 01</ion-card-subtitle>
        <ion-card-title class="namakandidat1">RIFKY TAUFIK HIDAYAT</ion-card-title>
        <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tombolpoling">VOTE</ion-button></div>
        <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tomboledit">EDIT</ion-button></div>
      </ion-card-header>
    
      <ion-card-content class="VISI1"> VISI </ion-card-content>
      <ion-card-content class="ISIVISI1"> Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. </ion-card-content>
      <ion-card-content class="MISI1"> MISI </ion-card-content>
      <ion-card-content class="ISIMISI1"> Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</ion-card-content>
    </ion-card>
  </div>
      
    <ion-card class="card2" color="medium">
      <ion-card-header>
        <ion-img src="\assets\icon\BAPE.jpg" alt="BAPEIMG"></ion-img>
        <ion-card-subtitle class="BIP" >KANDIDAT 02</ion-card-subtitle>
        <ion-card-title class="namakandidat2">BAYU IMANUDIN PUTRA</ion-card-title>
        <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tombolpoling">VOTE</ion-button></div>
        <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tomboledit">EDIT</ion-button></div>
      </ion-card-header>
     
      <ion-card-content class="VISI2" > VISI </ion-card-content>
      <ion-card-content class="ISIVISI2" > MLorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. </ion-card-content>
      <ion-card-content class="MISI2" > MISI </ion-card-content>
      <ion-card-content class="ISIMISI2" >Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. </ion-card-content>
    </ion-card>
    
  <ion-card class="card3" color="medium">
    <ion-card-header>
      <ion-img src="\assets\icon\ALIMUDIN.jpg" alt="ALIMUDINIMG"></ion-img>
      <ion-card-subtitle class="AMN" >KANDIDAT 03</ion-card-subtitle>
      <ion-card-title class="namakandidat3">ALI MUDIN</ion-card-title>
      <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tombolpoling">VOTE</ion-button></div>
      <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tomboledit">EDIT</ion-button></div>
    </ion-card-header>
  
    <ion-card-content class="VISI3"> VISI </ion-card-content>
    <ion-card-content class="ISIVISI3">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. </ion-card-content>
    <ion-card-content class="MISI3"> MISI </ion-card-content>
    <ion-card-content class="ISIMISI3">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</ion-card-content>
  </ion-card>
  
  <ion-card class="card4" color="medium">
    <ion-card-header>
      <ion-img src="\assets\icon\BAKER.jpg" alt="BAKERIMG"></ion-img>
      <ion-card-subtitle class="BKSG" >KANDIDAT 04</ion-card-subtitle>
      <ion-card-title class="namakandidat4">BAYU KERTA SUKMA GANDARA</ion-card-title>
      <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tombolpoling">VOTE</ion-button></div>
      <div><ion-button expand href="http://localhost:8100/data-kandidat-admin" class="tomboledit">EDIT</ion-button></div>
    </ion-card-header>
  
    <ion-card-content class="VISI4"> VISI </ion-card-content>
    <ion-card-content class="ISIVISI4">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</ion-card-content>
    <ion-card-content class="MISI4"> MISI </ion-card-content>
    <ion-card-content class="ISIMISI4">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</ion-card-content>
  </ion-card>
  
</ion-content>
</ion-content>

