
.card1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    
  
  }
  .gambar1{
    margin-left: 100px;
    margin-top: 20px;
   
  }
  .card2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .card3{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .card4{
       margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .backround{
    background:none;
    margin-right: 80px;
    margin-right: 20px;
    border-style: inherit;
  
  }
  .data_kandidat{
    background:grey;
    color: #fff;
  
    font-display: blue;
    border-style: outset;
    border-width: 2px;
    margin-top: 10px;
  }
.RTH{
    font-size: medium;
    margin-top: 2%;
    font-family: 'Times New Roman', Times, serif;
}
.BIP{
    font-size: medium;
    margin-top: 2%;
    font-family: 'Times New Roman', Times, serif; 
}
.AMN{
  margin-top: 2%;
  font-size: medium;
    font-family: 'Times New Roman', Times, serif; 
}
.BKSG{
  font-size: medium;
  margin-top: 2%;
    font-family: 'Times New Roman', Times, serif; 
}

.namakandidat1{
  font-size:150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.namakandidat2{
  font-size:150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.namakandidat3{
  font-size:150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.namakandidat4{
  font-size:150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.VISI1{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIVISI1{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.MISI1{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIMISI1{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.VISI2{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIVISI2{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.MISI2{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIMISI2{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.VISI3{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIVISI3{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.MISI3{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIMISI3{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.VISI4{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIVISI4{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.MISI4{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.ISIMISI4{
  font-size:100%;
  font-family: 'Times New Roman', Times, serif;
}
.textmenucontent{

  font-family:Georgia, 'Times New Roman', Times, serif
}
.textmenu{

  font-family:Georgia, 'Times New Roman', Times, serif
}
.tombolpoling{
  width: 87%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.tomboledit {
    width: 87%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: red;
}